@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .flex-slide {
    @apply flex-auto;
  }

  html {
    @apply bg-gray-50 dark:bg-ivory-black text-gray-50 dark:text-ivory-black;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    @apply dark:text-gold-leaf text-indigo-800;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    @apply dark:text-gold-leaf text-indigo-800;
  }

  a:hover {
    @apply text-teal-500 underline underline-offset-2;
  }

  .border {
    @apply dark:border-my-green border-yellow-700 shadow-lg rounded-lg shadow-yellow-700 dark:shadow-my-green;
  }
}

/* Slider styles */

@layer components {
  .slide {
    @apply relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out;
  }

  .slide-hidden {
    @apply relative hidden md:flex-auto bg-cover bg-center transition-all duration-500 ease-in-out;
  }

  .slide:hover {
    @apply flex-slide;
  }
}
